<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a person</title>
</head>
<body>
<h1>Add a person</h1>

<form action="/saveperson" th:object="${aPerson}" method="post">
    <input type="hidden" th:field="*{id}">

    <label for="firstName">Enter First Name</label>  <input type="text" th:field="*{firstName}">
    <label for="lastName">Enter Last Name</label>  <input type="text" th:field="*{lastName}">
    <label for="address">Enter Address</label>  <input type="text" th:field="*{address}">
    <label for="phoneNumber">Phone Number</label> <input type="text" th:field="*{phoneNumber}">
    <label for="emailAddress">Email Address</label> <input type="text" th:field="*{emailAddress}">
    <button type="submit">Save Person</button>
</form>
</body>
</html>